name: Destroy Step 4 - VPC Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment (dev or prod)"
        required: true
        type: choice
        options:
          - dev
          - prod

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: ${{ vars.AWS_REGION }}

jobs:
  vpc_destroy:
    name: Terraform Destroy - VPC
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}

    steps:
      # ----------------------------
      # 1. Checkout
      # ----------------------------
      - name: Checkout code
        uses: actions/checkout@v5

      # ----------------------------
      # 2. AWS Auth
      # ----------------------------
      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      # ----------------------------
      # 3. Setup Terraform
      # ----------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # ----------------------------
      # 4. Terraform Init (VPC)
      # ----------------------------
      - name: Terraform Init - VPC
        working-directory: terraform/vpc
        run: |
          terraform init -input=false

      # ----------------------------
      # 5. Terraform Destroy (VPC)
      # ----------------------------
      - name: Terraform Destroy - VPC
        working-directory: terraform/vpc
        run: |
          terraform destroy -auto-approve -input=false
