name: DRY RUN - Destroy Infra (No Deletion)

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  dry_run_rds:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-west-2

      - name: Export DB password
        run: |
          echo "TF_VAR_db_password=${{ secrets.TF_VAR_DB_PASSWORD }}" >> $GITHUB_ENV

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init (RDS)
        working-directory: terraform/rds
        run: terraform init -input=false

      - name: Terraform DRY RUN (RDS)
        working-directory: terraform/rds
        run: terraform plan -destroy
