name: Destroy - EKS Only

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment (dev or prod)"
        required: true
        type: choice
        options:
          - dev
          - prod

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: ${{ vars.AWS_REGION }}

jobs:

  # ==========================================
  # 1️⃣ CLEAN K8S RESOURCES (VERY IMPORTANT)
  # ==========================================
  k8s_cleanup:
    name: Cleanup Kubernetes Resources
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}

    steps:
      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
            --region $AWS_REGION \
            --name ${{ vars.CLUSTER_NAME }}

      - name: Delete all resources in namespace
        run: |
          kubectl delete all --all -n ${{ vars.K8S_NAMESPACE }} --ignore-not-found
          kubectl delete ingress --all -n ${{ vars.K8S_NAMESPACE }} --ignore-not-found
          kubectl delete job --all -n ${{ vars.K8S_NAMESPACE }} --ignore-not-found

      - name: Delete namespace
        run: |
          kubectl delete namespace ${{ vars.K8S_NAMESPACE }} --ignore-not-found


  # ==========================================
  # 2️⃣ DESTROY EKS (TERRAFORM)
  # ==========================================
  destroy_eks:
    name: Terraform Destroy - EKS
    runs-on: ubuntu-latest
    needs: k8s_cleanup
    environment: ${{ github.event.inputs.environment }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: latest

      - name: Terraform Init (EKS)
        working-directory: terraform/eks
        run: terraform init -input=false

      - name: Terraform Destroy (EKS)
        working-directory: terraform/eks
        run: terraform destroy -auto-approve
